/* Container for centering */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1b1c21;
  font-family: "Inter", sans-serif;
}


.form-card {
  background-color: #212227;
  padding: 2rem;
  border-radius: 12px;
  max-width: 400px;
  width: 100%;
  position: relative;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.soccer-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.form-title {
  color: #f5c451;
  font-size: 1.8rem;
  font-weight: bold;
}

/* Form group styling */
.form-group {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.form-label {
  color: #a0a0a0;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.form-input {
  width: 100%;
  max-width: 370px;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  background-color: #2e3034;
  color: #fff; 
  font-size: 1rem;
  outline: none;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.form-input::placeholder {
  color: #a0a0a0;
}

.form-input:focus {
  border: 1px solid #f5c451;
  box-shadow: 0px 0px 8px rgba(245, 196, 81, 0.5);
}


.form-button {
  width: 100%;
  max-width: 395px;
  padding: 0.8rem;
  background-color: #f5c451;
  color: #000; 
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.form-button:hover {
  background-color: #e6b846;
  transform: translateY(-2px);
}


.form-footer {
  margin-top: 1.5rem;
  text-align: center;
}

.footer-text {
  color: #a0a0a0;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.register-link {
  color: #f5c451;
  text-decoration: none;
  font-size: 0.9rem;
}

.register-link:hover {
  text-decoration: underline;
}
