<div class="left-nav">
  <div class="menu-section">
    <h4>Menu</h4>
    <ul class="nav_icon_main">
      <div class="nav_icon" [routerLink]="['/']">
        <img src="assets/icons/dashboard.svg" alt="dashboard" />Dashboard
      </div>
      <div class="nav_icon" [routerLink]="['/standings']">
        <img src="assets/icons/shop.svg" alt="dashboard" />Standings
      </div>
      <div class="nav_icon">
        <img src="assets/icons/standings.svg" alt="dashboard" />Shop
      </div>
    </ul>
  </div>

  <div class="football-league-section">
    <h4>Football League</h4>
    <ul>
      <li>
        <img src="assets/leagues/world.svg" alt="Worldcup" /> Worldcup Qatar
        2022
      </li>
      <li>
        <img src="assets/leagues/pl.svg" alt="Premier League" /> Premier League
      </li>
      <li><img src="assets/leagues/laliga.svg" alt="La Liga" /> La Liga</li>
      <li><img src="assets/leagues/ligue1.svg" alt="Ligue 1" /> Ligue 1</li>
    </ul>
  </div>

  <div class="favorite-club-section">
    <h4>Favorite Club</h4>
    <ul>
      <li *ngFor="let favorite of favorites">
        <img [src]="favorite.logo" [alt]="favorite.name" />
        {{ favorite.name }}
        <i class="fa fa-star"></i>
      </li>
    </ul>
  </div>
</div>
