.left-nav {
  width: 250px;
  background-color: #1b1c21;
  color: #fff;
  height: 100vh;
  padding-top: 25px;
  padding: 15px;
  font-family: "Inter", sans-serif;
}

.left-nav h4 {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #a0a0a0;
}

.left-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav_icon_main .nav_icon,
.left-nav ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.nav_icon_main .nav_icon img,
.left-nav ul li img {
  width: 22px;
  height: 22px;
  color: #f5c451;
}

.nav_icon_main .nav_icon img,
.left-nav ul li img {
  border-radius: 0;
}
