.banner_img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: auto;
  font-family: "Inter", sans-serif;
}

.banner_img img {
  margin-top: 25px;
  height: 350px;
  width: auto;
  z-index: 1;
}

.countdown-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-120%, -30%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.game_info {
  color: white;
  font-size: 18px;
  padding-bottom: 10px;
}

.countdown-timer {
  display: flex;
  gap: 15px;
  color: #fff;
  text-align: center;
  padding: 15px 30px;
  border-radius: 8px;
}

.time-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-value {
  font-size: 24px;
  font-weight: bold;
}

.time-label {
  font-size: 14px;
  color: #ffffff83;
}

.score_panel {
  width: 350px;
  height: 320px;
  margin-top: 25px;
  background-color: #1b1c21;
  border-radius: 16px;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-family: "Inter", sans-serif;
}

.score_panel h3 {
  font-size: 18px;
  margin: 0;
  padding-bottom: 8px;
}

.match-time {
  color: #00ff00;
  font-size: 16px;
  margin: 10px 0;
}

.game-ended {
  color: red;
  font-weight: bold;
}

.teams {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 18px 0;
}

.teams img {
  height: 50px;
  width: 50px;
  margin: 0;
}

.score {
  font-size: 24px;
  font-weight: bold;
  background-color: #f5c45142;
  padding: 10px 20px;
  border-radius: 8px;
  color: #f5c451;
  text-align: center;
}

.stat-container {
  margin-bottom: 20px;
}

.stat-title {
  font-size: 14px;
  font-weight: bold;
  color: #ddd;
  margin-bottom: 8px;
}

.stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0; /* Reset margin to remove unnecessary extra space */
}

.stat .bar {
  flex: 1;
  margin: 0 10px;
  height: 10px;
  background-color: #333;
  display: flex;
  position: relative;
}

.bar-team1 {
  background-color: #f5c451; /* Yellow */
  height: 100%;
  border-radius: 5px 0 0 5px;
}

.bar-team2 {
  background-color: #007bff; /* Blue */
  height: 100%;
  border-radius: 0 5px 5px 0;
}
