.main_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.other {
  width: 90%;
  height: 1500px;
  background-color: #212227;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.banner2{
  width: 1150px;
  height: auto;
  margin-top: 20px;
}