.main_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.other {
  width: 81.6%;
  background-color: #212227;
  display: flex;
  align-items: center;
  flex-direction: column;
}
