<nav class="navbar">
  <div class="navbar-logo">
    <img src="assets/Logo.svg" alt="Onesport Logo" />
  </div>
  <div class="navbar-search">
    <input type="text" placeholder="Type to search..." />
  </div>
  <div class="navbar-actions">
    <button class="premium-button">Go Premium</button>
    <div class="auth-buttons">
      <button id="sign-in" class="auth-button">Sign In</button>
      <button id="sign-up" class="auth-button">Sign Up</button>
    </div>
    <div class="profile-icon" style="display: none">
      <img id="profile-image" src="assets/profile.jpg" alt="Profile Image" />
    </div>
  </div>
</nav>
