.payment-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 12px;
  font-family: "Inter", sans-serif;
  color: #fff;
}

.payment-title {
  text-align: center;
  font-size: 1.8rem;
  color: #f5c451;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.payment-card {
  background-color: #1b1c21;
  padding: 20px;
  border-radius: 8px;
}

.card-title {
  font-size: 1.5rem;
  color: #f5c451;
  margin-bottom: 10px;
}

.card-description {
  font-size: 0.9rem;
  color: #a0a0a0;
  margin-bottom: 20px;
}

.get_back{
  color: #f5c451;
  text-decoration: none;
  font-size: 0.9rem;
  text-align: center;
}

.payment-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  color: #a0a0a0;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.form-input {
  padding: 10px;
  background-color: #2e3034;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  outline: none;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.form-input:focus {
  border: 1px solid #f5c451;
  box-shadow: 0px 0px 8px rgba(245, 196, 81, 0.5);
}

/* Payment Button */
.payment-button {
  padding: 12px 20px;
  background-color: #f5c451;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.payment-button:hover {
  background-color: #e6b846;
  transform: translateY(-2px);
}
